{{ define "main" }}

<div id="title">
  <h1>{{ .Site.Title }}</h1>
  <span class="divider"></span>
  <p>{{ .Site.Params.description }}</p>
</div>

<hr>

Github: sinokadev<br>
GitLab: sinokadev<br>
Discord: u_sinokadev<br>
Email: sinoka@sinoka.dev<br>
파이썬 쓰는 평범한 프로그래머에요. <br>

[LearnOpenGL Korean](https://learnoglko.github.io/)

<hr>

<h2>최근 글</h2>

<ul>
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ range first 2 ($posts.ByPublishDate.Reverse) }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <p>{{ .Content | plainify | truncate 200 }}</p>
    </li>
  {{ end }}
</ul>

<a href="/posts/">더보기...</a>

<hr>

{{ end }}
