@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --text-color: #363636;
  --link-color: #535353;
  --link-hover-color: #7e7e7e;
  --bg-color: #f5f5f5;
  --bg-color-two: #e6e6e6;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  font-family: Pretendard, ui-sans-serif, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  
  /* 스티키 푸터를 위한 엔진 */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow-x: hidden;
}

.wrapper {
  flex: 1; /* 남는 공간을 얘가 다 차지해서 푸터를 아래로 밀어냄 */
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

ul a {
    text-decoration: none;
}

a {
  font-weight: 600;
  transition: color 0.1s ease;
  color: var(--text-color);
}

a:hover {
  color: var(--link-hover-color);
}

main {
  text-align: left;
}

header {
  margin-top: 20px;
}

pre {
  border: 2px solid #6e6e6e; /* 2px 두께의 실선 */
  border-radius: 15px;

  padding: 1em;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
img, image {
  margin: auto;
  display: block;
  width: 95%;      /* 부모 너비(800px 박스)를 꽉 채움 */
  height: auto;     /* 가로에 맞춰서 세로 비율을 원본 그대로 유지 */
  
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

small {
  display: block;
  text-align: center;
  color: var(--link-color);
  font-weight: 600;
}

:not(pre) > code {
  background-color: var(--bg-color-two);
  border-radius: 5px;
  padding: 0.2em 0.4em;
  line-height: 1.6;
  font-size: 1em;
}

/* 기본 blockquote */
blockquote {
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  border-left: 4px solid #3f3f3f;
  background: rgba(97, 97, 97, 0.05);
  border-radius: 6px;
  color: inherit;
}

/* 내부 문단 여백 정리 */
blockquote p {
  margin: 0.5rem 0;
}

/* 중첩 blockquote */
blockquote blockquote {
  margin: 0.75rem 0 0 0;
  border-left-color: #aaaaaa;
  background: rgba(167, 167, 167, 0.08);
}

/* 중첩 깊어질수록 색 변화 */
blockquote blockquote blockquote {
  border-left-color: #cecece;
  background: rgba(218, 218, 218, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  font-size: 0.95rem;
}

thead {
  background: #f5f5f5;
}

th,
td {
  padding: 0.75rem 0.9rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 600;
  color: #111;
}

tbody tr:hover {
  background: #fafafa;
}

tbody tr:last-child td {
  border-bottom: none;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  
}